@import '@/resources/styles/colors.scss';
@import '@/resources/styles/breakpoints.scss';

.voice-filter.input-group {
  flex: none;
  width: fit-content;
  position: relative;

  select,
  option {
    text-transform: capitalize;
    color: $main-color;
  }
  .filter-icon {
    margin-right: 8px;
  }
  select.filter-select {
    border-radius: 5px;
    border: 0;
    background: black;
  }

  .select-arrow {
    position: absolute;
    top: 15px;
    right: 9px;
  }
}

@media (max-width: $mobile-device) {
  .voice-filter.input-group {
    flex: 1;
    padding: 0;
  }
}
